@media only screen and (min-width: 769px) and (max-width:959px) {
    .grid-container{
       width: 100%;
    }
}
.item-1{
    grid-area: header;
    background-color: #1b1b6c;
    text-align: left;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.item-1 img{
    width: 10%;
}

.item-2{
    grid-area: hello;
    background-color: #13124F;
    color: white;
    text-align: left;
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 1%;
}

#button{
    border: 0;
    color: white;
    background-color: #a7a5a6;
    padding: 0.5%;
    margin-top: 2%;
}

.item-3{
    grid-area: main;
    background-color: white;
    padding-left: 4.3%;
    padding-right: 3%;
    margin-top: 4%;
    margin-bottom: 3%;
}

.item-4{
    grid-area: contact;
    background-color: white;
    padding-right: 2%;
    padding-top: 6.7%;
}

.item-5{
    grid-area: footer;
    background-color: #13124F;
    padding-left: 2%;
    padding-top: 1%;
}

.item-5 p{
    color: white;
    text-align: left;
}

.main-grid-container{
    width: 100%;
    margin: 0;
    display: grid;
    text-align: left;
}

.header2{
    color: #13124f;
    border-bottom: 0.5px solid #9090a5;
    padding-bottom: 1%;
    margin-bottom: 2.5%;
}

.text{
    color: #13124f;
}

#icon {
    text-align: center;
    text-justify: center;
    color: #9090a5;
    float: left;
    height: 18px;
    width: 18px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
}

.side-bar-container{
    margin: 0;
    display: grid;
    width: 100%;
}